body {
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

/* Gradient text only on Webkit */
.warning {
  background: -webkit-linear-gradient(45deg,  #c97874 10%, #463042 90%);
  /*-webkit-background-clip: text;*/
  -webkit-text-fill-color: transparent;
  color: #8c5059;
  font-weight: 400;
  margin: 0 auto 6em;
  max-width: 9em;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}
calculator::before,
calculator::after {
  content: " ";
  display: table;
}

calculator::after {
  clear: both;
}

/* Calculator after dividing by zero */
.broken {
  animation: broken 2s;
  transform: translate3d(0,-2000px,0);
  opacity: 0;
}

.viewer {
  display: block;
  border: 1px solid #6cacc5;
  float: left;
  line-height: 2em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  padding: 0 1.5em;
  margin: 0.25em;
  background: white;
  color: #6cacc5;
}

button {
  border: 1px solid #6cacc5;
  color: #6cacc5;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s;

}
button:hover,button:focus {
  background: #6cacc5;
  color: white;
}

button.equals{
  width: 95%
}

.full{
  display: block;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
#calculator_sign {

  display: flex;
  justify-content: space-between;
  border: none;
  width: 90%;
  margin-left: -25px;

}