{% extends 'base.html.twig' %} {% block body %}
<h1> Calculator</h1>
{{ form_start(form) }}

<div id="calculator" class="calculator">
  {{ form_widget(form.firstValue) }} 
  {{ form_widget(form.sign) }}
   {{ form_widget(form.secondValue) }}

  <button id="equals" class="equals" type="submit">=</button>
  <div>
    {% if result %}  {{ result }} {% endif %}
  </div>
</div>
{{ form_end(form) }} {% endblock %}